<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <link rel="shortcut icon" href="./../assets/images/ico/favicon.ico" type="image/x-icon">

  <script type="text/javascript" src="./../js/modules/twemoji.min.js" defer></script>
  <script type="text/javascript" src="./../js/modules/showdown.min.js" defer></script>
  <script type="text/javascript" src="./../js/modules/dompurify.min.js" defer></script>

  <script src="./../js/helpers/emojiParser.js" defer></script>

  <link rel="stylesheet" href="./../css/reset.css">
  <link rel="stylesheet" href="./../css/fonts.css">
  <link rel="stylesheet" href="./../css/common.css">

  <script type="module" src="./../js/pages/guide.js" defer></script>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= translations.appName %>
  </title>
</head>



<body>
  <%- include('partials/header.ejs') %>

  <main id="main"><%= translations.guideText %></main>

  <%- include('partials/footer.ejs') %>
</body>

</html>