<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' https://*; child-src 'none';" />

  <link rel="shortcut icon" href="./../assets/images/ico/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/fonts.css" integrity="sha384-5sVHIugSfbssgga9z6VTQQ9AJIKJMeJpeDB3SmVmJGUmMJVUKYuWmjBUGmsibED9" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/settings.css" integrity="sha384-kTpz8MU5KeFKlX5YGFsFVxkXTikUpjOa4feNM8gStfA3Qs+QS0dNhVnIxoWcWj6g" crossorigin="anonymous">

  <script type="text/javascript" src="./../js/modules/twemoji.min.js" defer integrity="sha384-fgTHIWEzyS7ma60ROROt7fyaopMtsloAcf5748OMLjMScAgO/PppvjI52ndRH3Bc" crossorigin="anonymous"></script>
  <script type="text/javascript" src="./../js/modules/showdown.min.js" defer integrity="sha384-3yNUMzbp4x88zStMSzhoJHW9GeBoau2i2GPviE1aiy2mVzFtCTrXsEIMD42jS8NP" crossorigin="anonymous"></script>
  <script type="text/javascript" src="./../js/modules/dompurify.min.js" defer integrity="sha384-krzSBz5X8+UwrL/HMuKV4yJH5d/6VPNcELEVjSzfGAJ8tnZqrFNrwNHwn8ccBGx9" crossorigin="anonymous"></script>

  <script src="./../js/helpers/emojiParser.js" defer integrity="sha384-JwF15X062x3/zKE33eEqb8py+JERGEhVfx52jpH/Z8KvqxbRuDcRldTzJfBnOlpt" crossorigin="anonymous"></script>
  <script type="module" src="./../js/pages/settings.js" defer integrity="sha384-6sT2d0PA9sa8dyYU6BRhAchsyX2GGgKuHpYnVEzAInet2d0zYfPUOA2NTpWOYzDz" crossorigin="anonymous"></script>
  <title>
    <% if (user === null) { %>
    <% } else { %>
    <%= user.username  %>
    <% } %>
  </title>
</head>

<body>
  <%- include('partials/header.ejs') %>

  <% if(user===null) { %>
  <script>
    window.location.href = "/";
  </script>
  <% } else { %>
  <main id="main">
    <button id="logout"><%= translations.logout %></button>
    <button id="delete"><%= translations.delete %></button>
  </main>
  <% } %>

  <%- include('partials/footer.ejs') %>
</body>

</html>