<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' https://*; child-src 'none';" />

  <link rel="shortcut icon" href="./../assets/images/ico/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../css/fonts.css" integrity="sha384-5sVHIugSfbssgga9z6VTQQ9AJIKJMeJpeDB3SmVmJGUmMJVUKYuWmjBUGmsibED9" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/view.css" integrity="sha384-JStxtfM3nbJjg07fU1/EqQ9Hh3NsMHPTbIVy0KiyArvEW8b5dWL8ID/da3ut6vET" crossorigin="anonymous">

  <script type="text/javascript" src="./../js/modules/twemoji.min.js" defer integrity="sha384-fgTHIWEzyS7ma60ROROt7fyaopMtsloAcf5748OMLjMScAgO/PppvjI52ndRH3Bc" crossorigin="anonymous"></script>
  <script type="text/javascript" src="./../js/modules/showdown.min.js" defer integrity="sha384-3yNUMzbp4x88zStMSzhoJHW9GeBoau2i2GPviE1aiy2mVzFtCTrXsEIMD42jS8NP" crossorigin="anonymous"></script>
  <script type="text/javascript" src="./../js/modules/dompurify.min.js" defer integrity="sha384-krzSBz5X8+UwrL/HMuKV4yJH5d/6VPNcELEVjSzfGAJ8tnZqrFNrwNHwn8ccBGx9" crossorigin="anonymous"></script>

  <script src="./../js/helpers/emojiParser.js" defer integrity="sha384-JwF15X062x3/zKE33eEqb8py+JERGEhVfx52jpH/Z8KvqxbRuDcRldTzJfBnOlpt" crossorigin="anonymous"></script>
  <script type="module" src="./../js/pages/view.js" defer integrity="sha384-LvMGVzLHLUiEBQ2yd3LZTTVV5epeCbk3HCoZpn+NGJNSrQhRpILQa4WQo/IuYzzF" crossorigin="anonymous"></script>
  <title>
    <% if (user===null) { %>
    <%= translations.userNotFound %>
    <% } else { %>
    <%= user.username %>
    <% } %>
  </title>
</head>

<body>
  <%- include('partials/header.ejs') %>

  <% if(user===null) { %>
  <%= translations.userNotFound %>
  <% } else { %>
  <main id="main">
    <div id="controls">
      <button class="small-button" id="toggle-raw-view">
        <%= translations.turnRawViewOn %>
      </button>
    </div>

    <div id="formatted-biography-text" class="markdown">

    </div>

    <textarea id="raw-biography-text" disabled><%= user.biographies.us.text %></textarea>

    <div id="username-display">
      <%= translations.usernameDisplay %>
    </div>
  </main>
  <% } %>

  <%- include('partials/footer.ejs') %>
</body>

</html>