<footer id="footer">
  <ul>
    <li><a href="/"><%= translations.footer.main  %></a></li>
    <li><a href="https://ko-fi.com/xefyrdev"><%= translations.footer.donate  %></a></li>
    <li><a href="https://github.com/xefyrdev/discord-bio-links"><%= translations.footer.sourceCode  %></a></li>
    <li><a href="https://github.com/xefyrdev/discord-bio-links/blob/main/guide/<%=lang%>.md"><%= translations.footer.guide  %></a></li>
    <li><a href="/settings"><%= translations.footer.settings  %></a></li>
  </ul>
</footer>

<div id="toggle-footer">
  <img id="footer-toggle-img" src="./../../assets/images/svg/menu/hamburger.svg" height="32" width="32">
</div>

<script src="./../../js/helpers/footerToggleForSmallDevices.js" integrity="sha384-9ctGANm6iSNzwtRddL2pGRuTfTJPH5P00tSSb3yo+QmqzKi04f7/RlLtOdtkGGiT" crossorigin="anonymous"></script>